:root {
    --btn-width: 55px;
    --btn-height: 40px;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-body {
    width: 400px;
    height: fit-content;
    background-color: rgb(83, 85, 88);
    border: black 1px solid;
    box-shadow: 2px 2px 2px 2px rgba(87, 87, 87, 0.329);
    border-radius: 15px;
    font-family: "Reddit Mono", monospace;
    font-weight: 700;
}

.output-field {
    margin: 15px;
    margin-top: 20px;
}

.output {
    height: 70px;
    border: black 1px solid;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.expression {
    margin-bottom: 15px;
}

.result {
    align-self: end;
    font-size: 2rem;
    padding-right: 10px;
    padding-bottom: 5px;
}

.input-field {
    margin-left: 20px;
    margin-right: 20px;
    display: grid;

}

.first-row {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.second-row {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-evenly;
}

.btn-small {
    width: 40px;
    height: 20px;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 5px;
}


.functions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
}

#equals {
    grid-column-start: 1;
    grid-column-end: 3;
    width: auto;
}

.btn {
    background-color: aliceblue;
    width: var(--btn-width);
    height: var(--btn-height);
    margin: 5px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}

.btn:hover {
    background-color: blanchedalmond;
}

.btn-small:hover {
    background-color: blanchedalmond;
}
